.dropdown {
  position: relative;
  width: 400px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 40px;
  margin: 0 auto;
  margin-top: 40px;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 91%;

  padding: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: darkcyan;
  color: white;
  font-size: 30;
}
