.counter {
  width: 300px;
  height: 100px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.counter-value {
  font-size: 30px;
}
.counter__controls {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.counter__controls button {
  display: inline-block;
  margin-right: 10px;
  background-color: darkcyan;
  color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.counter__controls button:last-child {
  margin-right: 0;
}
